.commit-title {
  display: block;
}

.commit-author, .commit-committer {
  display: block;
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.commit-author strong, .commit-committer strong {
  font-weight: bold;
  font-style: normal;
}

.commit-description {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  word-break: normal;
  white-space: pre-wrap;
}

.commit-info-row {
  margin-bottom: 10px;
  line-height: 24px;
  padding-top: 6px;

  &.commit-info-row-header {
    line-height: 34px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }

    .commit-options-dropdown-caret {
      @media (max-width: $screen-sm) {
        margin-left: 0;
      }
    }
  }

  .avatar {
    @extend .avatar-inline;
    margin-left: 0;

    @media (min-width: $screen-sm-min) {
      margin-left: 4px;
    }
  }
  .commit-committer-link,
  .commit-author-link {
    color: $gl-gray;
    font-weight: bold;
  }

  .fa-clipboard {
    color: $dropdown-title-btn-color;
  }

  .commit-info {
    &.branches {
      margin-left: 8px;
    }
  }

  .ci-status-link {
    margin-left: 2px;

    svg {
      vertical-align: middle;
    }

    .ci-status-label {
      display: inline-block;
    }

    &:hover {
      text-decoration: none;

      .ci-status-label {
        text-decoration: underline;
      }
    }
  }
}

.ci-status-link {
  svg {
    overflow: visible;
  }
}

.commit-box {
  border-top: 1px solid $border-color;

  .commit-title {
    margin: 0;
    font-size: 23px;
    color: $gl-gray-dark;
  }

  .commit-description {
    margin-top: 15px;
  }
}

.file-stats {
  ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;

    li {
      padding: 3px 0;
      line-height: 20px;
    }
  }
  .new-file {
    a {
      color: $gl-text-green;
    }
  }
  .renamed-file {
    a {
      color: $gl-text-orange;
    }
  }
  .deleted-file {
    a {
      color: $gl-text-red;
    }
  }
  .edit-file {
    a {
      color: $gl-text-color;
    }
  }
}

.commit-action-buttons {
  i {
    color: $gl-icon-color;
    font-size: 13px;
    margin-right: 3px;
  }
}

/*
 * Commit message textarea for web editor and
 * custom merge request message
 */
.commit-message-container {
  background-color: $body-bg;
  position: relative;
  font-family: $monospace_font;
  $left: 12px;
  overflow: hidden; // See https://gitlab.com/gitlab-org/gitlab-ce/issues/13987
  .max-width-marker {
    width: 72ch;
    color: rgba(0, 0, 0, 0.0);
    font-family: inherit;
    left: $left;
    height: 100%;
    border-right: 1px solid mix($input-border, white);
    position: absolute;
    z-index: 1;
  }
  > textarea {
    background-color: rgba(0, 0, 0, 0.0);
    font-family: inherit;
    padding-left: $left;
    position: relative;
    z-index: 2;
  }
}
